<h1>Home!</h1>

<%= form_tag start_game_path do %>
  <select name="game" id="select_game">
    <% @games.each do |game| %>
      <option value="<%= game.name.downcase %>"><%= game %></option>
    <% end %>
  </select>
  <!-- <%= collection_select :game, :id, @games, :to_s, :to_s %> -->
  <button>Play</button>
<% end %>
